.button {
    background: $blue;
    color: white;
    display: inline-block;
    font-size: $m-size;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: $s-size;
    border: none;
    text-decoration: none;
    min-width: 120px;
}

.button--link {
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0 $xs-size 0 0;
    text-align: left;
}

.button--navbar {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.button--secondary {
    @extend .button;
    background: #888888;
}