.button {
    background: $off-white;
    color: $dark-grey;
    border: 1px solid $off-white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: -webkit-fill-available;
    font-size: 100%;
    text-decoration: none;
    border: none;
    padding: $xs-size;
    margin: 0;
}

.button--primary {
    @extend .button;
    background: $blue;
    color: white;
    border: 1px solid $blue;
    font-weight: 300;
    font-size: 120%;
    padding: $s-size;
}

.button--primary:disabled {
  cursor: default;
  background: $light-grey;
  opacity: 0.5;
  border: 1px solid $disabled;
}

.button--secondary {
    @extend .button--primary;
    background: $grey;
    border: 1px solid $grey;
}

.button--link {
    display: inline-block;
    background: none;
    color: $dark-grey;
    border: none;
    text-decoration: underline;
    padding: 0 $xs-size $xs-size 0;
    text-align: left;
    width: auto;
}

.button--form-nav {
    @extend .button;
    padding: $xs-size $s-size;
    white-space: nowrap;
}

.button-profile {
    display: flex;
    width: 100%;
    padding: $s-size;
    margin-top: $m-size;
    background: $off-white;
    border: 1px solid $light-grey;
    border-radius: $s-size;
    > img {
        width: 30%;
        max-width: 130px;
        margin-right: $s-size; 
    }
    :last-child {
        width: -webkit-fill-available;
        text-align: left;
        line-height: 2rem;
    }
}

button.button-profile:hover {
    box-shadow: 0 0 5px $light-grey;
}

