.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 $m-size;
  width: 100%;
  height: 100%;
}

.container--body {
  padding-top: $m-size;
  padding-bottom: $m-size;
  overflow: auto;
}

.container--footer {
  height: 9vh;
  padding-top: $m-size;
  padding-bottom: $m-size;
  margin-bottom: 0;
}
