.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: $m-size;
}

.container--header {
  padding: 0 $m-size;
  height: 7vh
}

.container--body {
  height: 84vh;
  padding-top: $m-size;
  padding-bottom: $m-size;
  overflow: auto;
}

.container--footer {
  height: 9vh;
  background-color: $dark-blue;
}
