.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: $m-size;
}

.container--header {
  padding: 0 $m-size;
  height: 7vh
}

.container--body {
  height: 84vh;
}

.container--footer {
  height: 9vh
}
