.flexbox {
  display: flex;
}

.flexbox--ac {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $m-size;
}

.flexbox--ac__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media(max-width:576px) {
    > h4 {
      font-size: $font-size-small;
    }
  }
}