.align-top {
   align-items: flex-start;
}

.align-bottom {
   align-items: flex-end;
}

.justify-self-center {
   justify-self: center;
}

.justify-self-left {
   justify-self: self-start;
}

.justify-self-right {
   justify-self: self-end;
}

.flex-wrap {
   flex-wrap: wrap;
}