.flexbox {
  display: flex;
}

.flexbox--skills-header {
  justify-content: space-between;
  width: 100%;
}

.flexbox--skills {
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
}

.flexbox--skills-item {
  justify-content: space-between;
  width: 45%;
}

.flexbox--skills-item__name {
  width: 75%;
}

.flexbox--skills-item__ranks {
  text-align: center;
  width: 25%;
}
