.footer-navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: white;
}

.footer-navbar__icon {
    max-height: 40px;
    height: 100%;
    padding: 0 $s-size;
}

.footer--form {
    @extend .d-flex, .justify-content-between;
    > * {
        @extend .flex-fill, .mx-3;
    }
}