footer {
    @extend .layout__footer, .py-4;
}

.footer--navbar {
    @extend .container;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: white;
}

.footer--navbar__icon {
    max-height: 40px;
    height: 100%;
    padding: 0 $s-size;
}

.footer--form {
    @extend .container, .d-flex, .justify-content-between;
    > button {
        @extend .btn, .flex-fill, .mx-3;
    }
}