.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: $m-size;
}

.form-group--35 {
    @extend .form-group;
    > :first-child {
        width: 35%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 65%;
    }
}

.form-group--70 {
    @extend .form-group;
    > :first-child {
        width: 70%;
        margin-right: $s-size;
    }
    > :last-child {
        width: 30%;
    }
}

.form-group--80 {
    @extend .form-group;
    > :first-child {
        width: 80%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 20%;
    }
}

.form-group__list {
    margin: 0;
    li {
        margin-left: -20px;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
    font-size: $font-size-s;
}

.form-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    grid-gap: $xs-size;
    justify-items: center;
    align-items: center;
    text-align: center; 
    font-size: $font-size-m;
    input {
        width: 100%;
    }
}