.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    display: flex;
    align-items: center;
    font-size: $font-size-m;
    margin-bottom: $m-size;
}

.form-group--30 {
    @extend .form-group;
    > :first-child {
        width: 30%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 70%;
    }
}

.form-group--70 {
    @extend .form-group;
    > :first-child {
        width: 70%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 30%;
    }
}

.form-group--80 {
    @extend .form-group;
    > :first-child {
        width: 80%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 20%;
    }
}
.form-group__list {
    li {
        margin-left: -20px;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}