.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__group {
    margin-bottom: $m-size;

    & ul, ol {
        margin: 0;
    }

    & li {
        margin-left: -20px;
    }
}

.form__content {
    display: flex;
    > :first-child {
        width: 30%;
        max-width: 130px;
        margin-right: $s-size;
    } 
    > :last-child {
        width: 70%;
    }
}

.form__content--flex {
    @extend .form__content;
    > :last-child {
        display: flex;
        flex-wrap: wrap;
        > * {
            margin-right: $s-size;
        }
    }
}

.form__content--inline {
    @extend .form__content;
    > :last-child {
        display: flex;
        align-items: center;
        > input {
            width: 80px;
        }
        > * {
            margin-right: $s-size;
        }
    }
}

.form__content--tall {
    @extend .form__content;
    > :last-child {
        height: 150px;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}

.form__footer {
    display: flex;
    justify-content: space-between;
    > * {
        width: -webkit-fill-available;
    }
}