.form-grid {
	display: grid;
	grid-auto-flow: dense;
	grid-template-rows: 2rem auto;
	grid-auto-rows: 4rem;
	grid-gap: $xs-size;
	justify-items: center;
	align-items: center;
	text-align: center; 
	font-size: $font-size-m;
	input {
		width: 100%;
		height: 100%;
		text-align: center; 
	}
}

.form-grid--abilities {
	@extend .form-grid;
	grid-template-columns: 2fr repeat(3, 1fr);
	margin-bottom: $m-size;
}

.form-grid--equipment {
	@extend .form-grid;
	grid-template-columns: 3fr 1fr 2fr 1fr;
}

.form-grid__header {
	align-self: flex-end;
}