.form-group {
    display: flex;
    align-items: center;
    margin-bottom: $m-size;
}

.form-group--row {
    height: 4rem;
}

.form-group--35 {
    @extend .form-group;
    > :first-child {
        width: 35%;
        padding-right: $s-size;
    }
    > :last-child {
        width: 65%;
    }
}

.form-group--70 {
    @extend .form-group;
    > :first-child {
        width: 70%;
        margin-right: $s-size;
    }
    > :last-child {
        width: 30%;
    }
}

.form-group--80 {
    @extend .form-group;
    > :first-child {
        width: 80%;
        padding: 0 $s-size 0 0;
    }
    > :last-child {
        width: 20%;
    }
}

.form-group__list {
    margin: 0;
    li {
        margin-left: -20px;
    }
}

.form-group--error {
    @extend .form-group;
    justify-content: flex-start;
    font-style: italic;
    font-size: $font-size-s;
    margin: 0;
}

