.header {
    background: $dark-grey;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__title {
    color: white;
    text-decoration: none;
    margin: 0;
    @media(max-width: 576px) {
      font-size: $font-size-large;
    }
}
