header {
    @extend .bg-dark, .py-3;
    grid-area: header;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    > * {
        color: white;
        background: none;
        border: none;
    }
}

.header__title {
    margin: 0;
    @media(max-width: 576px) {
      font-size: $font-size-large;
    }
}
