.text-input {
    border: 1px solid #cacccd;
    font-weight: 300;
    min-width: 50px;
    padding: $xs-size;
    width: -webkit-fill-available;
}

.select {
    @extend .text-input;
}

.text-area {
    @extend .text-input;
    height: 10rem;
}

.multi-select {
    @extend .text-input;
    height: min-content; 
    @media(min-width: $desktop-breakpoint) {
        max-height: 25rem;
    }
}