.input-group--stats {
    @extend .input-group, .d-flex, .align-items-end, .mb-5;
    
    > * {
        min-height: 25px;
        min-width: 40px;
        margin: 0;
    }

    > :first-child {
        width: 15%;
    }

    > :not(:first-child) {
        @extend .d-flex, .flex-column, .align-items-center;
        > input {
            max-width: 40px;
        }
        > :last-child {
            height: 25px;
        }
    }
}

.input-group--money {
    @extend .input-group, .mx-2;

    > input {
        @extend .mr-2;
        max-width: 100px;
    }
}