.text-input {
    border: 1px solid #cacccd;
    // height: $l-size;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input;
}

.text-area {
    @extend .text-input;
    height: 10rem;
}

.multi-select {
    @extend .text-input;
    max-height: 20rem;
    height: min-content; 
}