.input-group {
    display: flex;
    align-items: center;
    > * {
        margin-right: $s-size;
    }
    input {
        max-width: 70px; 
    }
    > :last-child {
        margin-right: 0;
    }
}
