.layout {
    display: grid;
    grid-template-rows: 7vh 84vh 9vh;
    grid-template-areas: 
        "header"
        "body"
        "footer";
}

.layout__body {
    grid-area: body;
}

.layout__body-footer {
    grid-row: 2 / -1;
}