.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto 60px;
    grid-template-areas: 
        "header"
        "body"
        "footer";
}

.layout__body {
    @extend .container, .py-4;
    grid-area: body;
    overflow-y: scroll;
}

.layout__footer {
    grid-area: footer;
}