.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto 60px;
    grid-template-areas: 
        "header"
        "body"
        "footer";
}

.layout__header {
    @extend .container-fluid, .py-3;
    grid-area: header;
}

.layout__body {
    @extend .container-fluid, .py-4;
    grid-area: body;
    overflow-y: scroll;
}

.layout__footer {
    @extend .container-fluid, .py-4;
    grid-area: footer;
}