.row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: $s-size;
}

.row--center {
  justify-content: center;
}

.row__money {
  @extend .row;
  @extend .row--center;
  > input {
    max-width: 100px;
    text-align: right;
  }
  > * {
    margin-right: .6rem;
  }
}

.row__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * {
    margin-top: $xs-size
  }
  > input {
    max-width: 15vw;
    text-align: center;
  }
}
