@import '../../styles/base/settings';


.CreatorForm {
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.CreatorForm__scroll-container {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.CreatorForm__scroll-list {
   flex-grow: 1;
   overflow-y: auto;
   padding-top: $xs-size;
}

.CreatorForm__grid {
	display: grid;
   grid-template-rows: 2rem auto;
	grid-gap: $xs-size;
	justify-items: center;
	align-items: center;
	text-align: center; 
   font-size: $font-size-m;
}

.CreatorFormSkills {
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.CreatorFormSkills__grid {
   @extend .CreatorForm__grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto;
   > button {
      padding-bottom: 0;
   }
}
.CreatorFormSkills__grid--header {
   @extend .CreatorFormSkills__grid;
   padding-right: 17px;
   padding-bottom: 0.5rem;
   border-bottom: 1px solid $dark-grey;
}

.CreatorFormSkills__counter {
   height: 4rem;
   button {
      height: 100%;
      padding: $xs-size !important; 
   }
   input {
      height: 100%;
      width: 100%;
	}
}


.CreatorFormEquipment__grid {
   @extend .CreatorForm__grid;
   grid-template-columns: 4fr repeat(3, 2fr) 1fr;
   input {
      max-width: 3rem;
   }
}


.CreatorFormFeats__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: $m-size;
   
   > :first-child {
      flex: 1 1 80%;
      padding: 0 $s-size 0 0;
   }
   > :last-child {
      flex: 1 0 100px;   
   }
}


.CreatorForm__error {
   font-style: italic;
   font-size: $font-size-s;
   margin: 0;
}

.CreatorForm__error--right {
   @extend .CreatorForm__error;
   text-align: right;
}


.CreatorFormFooter {
   position: fixed;
   bottom: 0px;
   height: 10vh;
   min-height: 60px;
   width: -webkit-fill-available;
   background: white;
   box-shadow: 0 0 5px $light-grey;
   padding: $s-size 0;
}

.CreatorFormFooter__content {
   display: flex;
   justify-content: space-between;
   > * {
      width: -webkit-fill-available;
   }
   :nth-child(2) {
      margin-left: $s-size;
   }
}