@import '../../styles/base/settings';


.CharacterSelectionPage {
   margin-bottom: 0 !important;
}

.profile-container {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   margin-bottom: $m-size;   
}

.profile__select-button {
   flex: 2 1 100%;
   display: flex;
   padding: $s-size;
   background: $off-white;
   border: 1px solid $light-grey;
   border-radius: $s-size 0 0 $s-size;
   > img {
      width: 30%;
      max-height: 100px;
      margin-right: $s-size; 
   }
   :last-child {
      width: -webkit-fill-available;
      text-align: left;
      line-height: 2rem;
   }
}

button.profile__select-button:hover {
   box-shadow: 0 0 5px $light-grey;
}

.profile__remove-button {
   flex: 1 0 auto;
   background: $off-white;
   border: 1px solid $light-grey;
   border-radius: 0 $s-size $s-size 0;
   padding: $m-size;
   margin-left: $s-size;
}