@import '../../styles/base/settings';


.LoginPage {
   background: url('/images/bg.jpg');
   background-size: cover;
   background-position: right;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;       
}

.LoginPage__box {
   background: fade-out(white, .15);
   border-radius: 3px;
   text-align: center;
   width: 80vw;
   max-width: 50rem;
   min-width: 30rem;
   padding: $l-size;
}

.LoginPage__title {
   margin: 0 0 $m-size 0;
   line-height: 1;
}