@import '../CharacterCreationPage';


.CreatorFormAbilities__grid {
   @extend .CreatorForm__grid;
   grid-template-columns: 2fr repeat(3, 1fr);
   margin-bottom: $m-size;
   input {
		width: 100%;
		height: 100%;
		text-align: center; 
   }
   button {
      padding: $s-size;
   }
}

.CreatorFormAbilities__error {
   @extend .CreatorForm__error;
   grid-column: 1 / span 4;
}