* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Roboto, Open-Sans, sans-serif;
  font-size: $m-size;
  line-height: 2rem;
}

h2, h3, h4, h5 {
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
    font-weight: bold;
}
