//COLORS
$dark-grey: #333;
$grey: #6c757d;
$light-grey: #bbb;
$blue: #0D85BB;
$dark-blue: #364051;
$off-white: #f7f7f7;
$red: #b1000f;
$disabled: rgba(187, 187, 187, 0.5);

//FONT-SIZING
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;

//SIZING
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$xs-size: 0.8rem;
$desktop-breakpoint: 45rem;
