//COLORS
$dark-grey: #333333;
$grey: #666;
$blue: #0D85BB;
$dark-blue: #364051;
$off-white: #f7f7f7;
$red: #b1000f;

//FONT-SIZING
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//SIZING
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$xs-size: 0.8rem;
$desktop-breakpoint: 45rem;
